<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
</head>
<body>
    <h3>你好{{ uesrname }}!</h3>
    <hr>
    <!-- {% for title in titles %}
    <ul>
        <h3><li>{{title}}</li></h3>
    </ul>
    {% endfor %}

    {% for content in contents %}
        <uL>
            <li>{{ content }}</li>
        </uL>
    {% endfor %} -->
    {% for i in len(titles) %}
        {{ titles.i }}
    {% endfor %}
    
</body>
</html>